<ion-header>
  <ion-navbar hideBackButton>
    <ion-title center>
        <img class="logo" src="assets/imgs/logo.png" alt="Marvel App">
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="onOpenMenu()">
        <ion-icon class="menu-icon" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar ion-input #box (keyup.enter)="searchComic(box.value)" class="search-input" clearInput placeholder="Pesquisar..."></ion-searchbar>
  <ion-title>Quadrinhos</ion-title>
      <ion-row >
        <ion-col col-6 *ngFor="let comic of comicsList; index as i">
          <ion-card (click)="openDetail(comic.id, i)">
            <!-- <div *ngIf="comic.isFavorite; else elseBlock"> -->
              <!-- <ion-icon class="star" name="star-outline" (click)="addFavorite(i)"></ion-icon> -->
            <!-- </div> -->
            <!-- <ng-template #elseBlock>
              <ion-icon class="star" name="star" (click)="removeFavorite(comic.id)"></ion-icon>
            </ng-template> -->
            <img src='{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}'  alt="image_not_available">
            <h2 class="card-title">{{comic.title}}</h2>
            <p>{{comic.dates[1].date}}</p>
          </ion-card>
        </ion-col>
      </ion-row>
</ion-content>
