page-initial{

    .scroll-content{
        background-image: url("assets/imgs/marvel-background.jpg");
        /*background-image: url("../assets/images/bg_dre.jpg");
      background-size: contain;*/
    }

    .initial-background{
        background: url("../assets/imgs/marvel-background.jpg") center;
        background-size: cover;
        //opacity: 0.5;
    }

    .login-btn{
        align-self: center;
        padding-top: 100%;
    }

    .register-btn{
        align-self: center;
        padding-top: 10%;
    }
}