<ion-header>
  <ion-navbar>
    <ion-title>{{comicDetail.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="inFavorites != true; else else1">
        <img src='{{comicDetail.thumbnail.path + "." + comicDetail.thumbnail.extension}}'  alt="image_not_available">
      </div>
      <ng-template #else1>
          <img src='{{comicDetail.image}}'  alt="image_not_available">
      </ng-template>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <p class="label">Date:</p>
        </ion-col>
        <ion-col>
            <div *ngIf="inFavorites != true; else else2">
              <p>{{comicDetail.dates[0].date}}</p>
            </div>
            <ng-template #else2>
              <p>{{comicDetail.date}}</p>
            </ng-template>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <p class="label">Description:</p>
        </ion-col>
        <ion-col>
          <p>{{comicDetail.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <p class="label">Characters:</p>
        </ion-col>
        <ion-col>
              <div *ngIf="inFavorites != true; else else3">
                <div *ngFor="let character of comicDetail.characters.items">
                    <p>{{character.name}}</p>
                </div>
              </div>
              <ng-template #else3>
                  <div *ngFor="let character of charactersList">
                      <p>{{character}}</p>
                  </div>
              </ng-template>
        </ion-col>
      </ion-row>
      <div *ngIf="alreadyInFavorites != true; else elseBlock">
        <button ion-button (click)="addFavorite()" block>
          <ion-icon class="star" name="star-outline"></ion-icon>
          <p>Adicionar aos favoritos</p>
        </button>
      </div>
      <ng-template #elseBlock>
        <button ion-button (click)="removeFavorite(comicDetail.id)" block>
          <ion-icon class="star" name="star"></ion-icon>
          Remover dos favoritos
        </button>
      </ng-template>
    </ion-grid>
</ion-content>